# Compiled class files
*.class

# Logs
*.log

# Eclipse project files
*.classpath
*.project
*.settings/

# Build folder
bin/
out/

# OS-specific files
.DS_Store
Thumbs.db

# Ignore temporary files
*.tmp